<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/diachi.css" rel="stylesheet" />
</head>
<body  style="background-color:#FAFAFA">

    <div class="khong">
        <span style="color:#327AB7">Trang chủ </span><span> → Hệ thống cửa hàng Co.opSmile </span>
        <div class="mot">
            <div style="color:#FF5100;font-size:25px">Hệ thống cửa hàng Co.opSmile</div>
            <img src="~/Content/img/img_diachi/tenhang.png"  class="tieudewebdiachi" style="display: block; margin: auto;">
            <br>
            <div align="center" style="color:#3598DB;font-size:25px"><b>Danh sách địa chỉ và số điện thoại cửa hàng</b></div>
            <br>
            <br>
            <hr>
            <div>
                <br>
                <b class="ten">TP.Hồ Chí Minh</b>
                <br>
                <br>
                <b class="ten">Quận 1:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/search?q=43+%C4%90%E1%BB%81+Th%C3%A1m%2C+Ph%C6%B0%E1%BB%9Dng+C%C3%B4+Giang%2C+Qu%E1%BA%ADn+1&rlz=1C1ONGR_enVN1074VN1074&oq=43+%C4%90%E1%BB%81+Th%C3%A1m%2C+Ph%C6%B0%E1%BB%9Dng+C%C3%B4+Giang%2C+Qu%E1%BA%ADn+1&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigATIHCAIQIRigATIHCAMQIRigAdIBCTEwMzBqMGoxNagCCLACAQ&sourceid=chrome&ie=UTF-8">43 Đề Thám, Phường Cô Giang, Quận 1</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/Chung+c%C6%B0+1A+1B+Nguy%E1%BB%85n+%C4%90%C3%ACnh+Chi%E1%BB%83u/%4010.7915362,106.7038513,897m/data=!3m2!1e3!4b1!4m6!3m5!1s0x317528b458b5c1d1:0xfaf78cb0c8086d3f!8m2!3d10.7915362!4d106.7038513!16s%2Fg%2F11f51zdkxn?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MTAxNC4wIKXMDSoASAFQAw%3D%3D">002 Lô A4 Chung cư 1A-1B Nguyễn Đình Chiểu, Phường DaKao, Quận 1</a></span><span>(+84911842794)- Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/38+H%E1%BA%BBm+115+Tr%E1%BA%A7n+%C4%90%C3%ACnh+Xu,+Ph%C6%B0%E1%BB%9Dng+Nguy%E1%BB%85n+C%C6%B0+Trinh,+Qu%E1%BA%ADn+1,+H%E1%BB%93+Ch%C3%AD+Minh/%4010.7602055,106.6865098,448m/data=!3m2!1e3!4b1!4m5!3m4!1s0x31752f1a5e0e29a9:0xd10b042a5a88245a!8m2!3d10.7602055!4d106.6865098?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MTAxNC4wIKXMDSoASAFQAw%3D%3D">TK38/1 Nguyễn Cảnh Chân, Phường Nguyễn Cư Trinh, Quận 1</a></span><span>(+84911842761)- Mở cửa từ 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/%C4%90.+Nguy%E1%BB%85n+Tr%C3%A3i,+Nguy%E1%BB%85n+C%C6%B0+Trinh,+Qu%E1%BA%ADn+1,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7633673,106.6848639,17z/data=!3m1!4b1!4m5!3m4!1s0x31752ef40f3e44db:0x9e8b8b3ffe3ec101!8m2!3d10.763362!4d106.6870526?hl=vi-VN&shorturl=1">D48C Nguyễn Trãi, P.Nguyễn Cư Trinh, Quận 1</a></span><span>(+84911842747)- Mở cửa từ 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận 3:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/599+%C4%90i%E1%BB%87n+Bi%C3%AAn+Ph%E1%BB%A7,+Ph%C6%B0%E1%BB%9Dng+1,+Qu%E1%BA%ADn+3,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7697326,106.6738776,17z/data=!3m1!4b1!4m5!3m4!1s0x31752edff677b5fd:0x703aca0b64b0b1a6!8m2!3d10.7697326!4d106.6760663?hl=vi-VN&shorturl=1">599 Điện Biên Phủ, Phường 1, Quận 3</a></span><span>(+84911843213) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/Nguyen+Van+Troi+Market/%4010.7865933,106.6774248,17z/data=!4m5!3m4!1s0x31752f2bb63553cd:0x803b9a4a697bd6b1!8m2!3d10.7863337!4d106.6799049?hl=vi-VN&shorturl=1">Quầy 1 - Khu A chợ Nguyễn Văn Trỗi, Phường 13, Quận 3</a></span><span>(+84911825717  ) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/16,+16+Nguy%E1%BB%85n+Thi%E1%BB%87n+Thu%E1%BA%ADt,+ph%C6%B0%E1%BB%9Dng+2,+Qu%E1%BA%ADn+3,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7665461,106.6797632,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f1f33cc8007:0xcd283f88272b359f!8m2!3d10.7665461!4d106.6819519?hl=vi-VN&shorturl=1">16/16 Nguyễn Thiện Thuật, Phường 2, Quận 3</a></span><span>(+84911842915) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/424+Nguy%E1%BB%85n+%C4%90%C3%ACnh+Chi%E1%BB%83u,+Ph%C6%B0%E1%BB%9Dng+4,+Qu%E1%BA%ADn+3,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7731054,106.6826059,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f238364b343:0x5c449c1d62afb01e!8m2!3d10.7731054!4d106.6847946?hl=vi-VN&shorturl=1">424 Nguyễn Đình Chiểu, Phường 4, Quân 3</a></span><span>(+84911842851) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/67+S%E1%BB%91+3,+Ph%C6%B0%E1%BB%9Dng+4,+Qu%E1%BA%ADn+3,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7725855,106.6799166,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f23e1738aa9:0x29ca785d5a924c2d!8m2!3d10.7725855!4d106.6821053?hl=vi-VN&shorturl=1">67 Đường số 3-Cư xá Đô Thành, Phường 4, Quận 3</a></span><span>(+84911843215) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/380%2F1+Nam+K%E1%BB%B3+Kh%E1%BB%9Fi+Ngh%C4%A9a,+Ph%C6%B0%E1%BB%9Dng+8,+Qu%E1%BA%ADn+3,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.790736,106.6815713,17z/data=!3m1!4b1!4m5!3m4!1s0x317528d3382072d1:0x15b2f24522e90cb9!8m2!3d10.790736!4d106.68376?hl=vi-VN&shorturl=1">380/1 Bis Nam Kỳ Khởi Nghĩa, Phường 8, Quận 3</a></span><span>(+84911843208) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/58+C%C3%A1ch+M%E1%BA%A1ng+Th%C3%A1ng+T%C3%A1m,+Ph%C6%B0%E1%BB%9Dng+6,+Qu%E1%BA%ADn+3,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.774322,106.6863123,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f3b4e88a2e5:0x5c0ac51c0fe8a803!8m2!3d10.774322!4d106.688501?hl=vi-VN&shorturl=1">58 Cách Mạng Tháng 8, Phường 6, Quận 3</a></span><span>(+84911842843) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/dir/91%2F1+Tr%E1%BA%A7n+Quang+Di%E1%BB%87u,+Ph%C6%B0%E1%BB%9Dng+13,+Qu%E1%BA%ADn+3,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam//%4010.784974,106.6764882,17z/data=!3m1!4b1!4m8!4m7!1m5!1m1!1s0x31752f2a284a8689:0x61996a56da8da31c!2m2!1d106.6786769!2d10.784974!1m0?hl=vi-VN">91/1(cua sau) Tran Quang Dieu, P.13,Q.3,TP.HCM</a></span><span>(+84911842711) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/Laos+student+dormitory+in+Hochiminh+city/%4010.7771174,106.6832419,15z/data=!4m6!3m5!1s0x31752f25cf16272d:0x9025a5e323fe8ee4!8m2!3d10.7771174!4d106.6832419!16s%2Fg%2F11f4pp0svz?entry=tts">122ABC Cach Mang Thang Tam, P.3, Q.3, TP.HCM</a></span><span>(+84911842832) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận 4:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/63+-+65+B%E1%BA%BFn+V%C3%A2n+%C4%90%E1%BB%93n,+Ph%C6%B0%E1%BB%9Dng+12,+Qu%E1%BA%ADn+4,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh/%4010.7653075,106.7000489,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f6af05cffff:0x5c13957a94fce689!8m2!3d10.7653075!4d106.7022376?shorturl=1">63-65 Bến Văn Đồn, Phường 12,Quận 4</a></span><span>(+84911842703) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/Galaxy+9/%4010.7549068,106.6940829,15z/data=!4m6!3m5!1s0x31752f0e7081c831:0xc4b8bea4e2b302a6!8m2!3d10.7549068!4d106.6940829!16s%2Fg%2F11c1t51z66?entry=tts&shorturl=1">G1.008-Chung cư Galaxy 9, 09 Nguyen Khoai, Phuong 1, Quận 4</a></span><span>(+84911901127) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận 5:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/57+Tr%E1%BA%A7n+B%C3%ACnh+Tr%E1%BB%8Dng,+Ph%C6%B0%E1%BB%9Dng+1,+Qu%E1%BA%ADn+5,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7538116,106.6798301,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f03885f56e1:0x2371d702213b4c3b!8m2!3d10.7538116!4d106.6820188?hl=vi-VN&shorturl=1">57 Trần Bình Trọng, Phường 1, Quận 5</a></span><span>(+84911842855) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/52+Nguy%E1%BB%85n+V%C4%83n+%C4%90%E1%BB%ABng,+Ph%C6%B0%E1%BB%9Dng+6,+Qu%E1%BA%ADn+5,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7521121,106.6690833,17z/data=!3m1!4b1!4m5!3m4!1s0x31752efea507ff85:0x731d7c037fa7f975!8m2!3d10.7521121!4d106.671272?hl=vi-VN&shorturl=1">52 Nguyễn Văn Đừng, Phường 6, Quận 5</a></span><span>(+84911843221) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/156+%C4%90%C6%B0%E1%BB%9Dng+Tr%E1%BA%A7n+H%C6%B0ng+%C4%90%E1%BA%A1o,+Ph%C6%B0%E1%BB%9Dng+7,+Qu%E1%BA%ADn+1,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7526642,106.6653149,17z/data=!3m1!4b1!4m5!3m4!1s0x31752ef97f9d72ef:0xa45c21012428cc9e!8m2!3d10.7526642!4d106.6675036?hl=vi-VN&shorturl=1">156 Trần Hưng Đạo, Phường 7, Quận 5</a></span><span>(+84911825731) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/197+Ph%C3%B9ng+H%C6%B0ng,+Ph%C6%B0%E1%BB%9Dng+14,+Qu%E1%BA%ADn+5,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7536064,106.65504,17z/data=!3m1!4b1!4m5!3m4!1s0x31752ef3f4e7eafb:0x7a68e5f3624421eb!8m2!3d10.7536011!4d106.6572287">197 Phùng Hưng, Phường 14, Quận 5, TP.HCM</a></span><span>(+84911825715) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận 6:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/23+%C4%90.+S%E1%BB%91+19,+Ph%C6%B0%E1%BB%9Dng+10,+Qu%E1%BA%ADn+6,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7398479,106.6258965,203m/data=!3m1!1e3!4m6!3m5!1s0x31752dd7760618b9:0xba5d62e32de19649!8m2!3d10.7397821!4d106.6261314!16s%2Fg%2F11g9sxssry?coh=210790&entry=tts&g_ep=EgoyMDI0MDUxOC4wKgBIAVAD">23 Đường số 19, phường 10 , quận 6</a></span><span>(+84911585190) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/D22+C%C6%B0+X%C3%A1+Ph%C3%BA+L%C3%A2m+B,+Ph%C6%B0%E1%BB%9Dng+13,+Qu%E1%BA%ADn+6,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7529714,106.6267564,1030m/data=!3m2!1e3!4b1!4m6!3m5!1s0x31752e81d9cb18ff:0xddc695cd4e398cc7!8m2!3d10.7529661!4d106.6293313!16s%2Fg%2F11csd9mmpg?entry=tts&g_ep=EgoyMDI0MDYwNS4wKgBIAVAD">D22 Cơ Xá Phú Lâm B, phường 13, quận 6</a></span><span>(+84913236930) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/168A+%C4%90.+Minh+Ph%E1%BB%A5ng,+Ph%C6%B0%E1%BB%9Dng+6,+Qu%E1%BA%ADn+6,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7520745,106.6403943,1030m/data=!3m2!1e3!4b1!4m6!3m5!1s0x31752e88f03143e7:0xe750e7155dfb9c20!8m2!3d10.7520692!4d106.6429692!16s%2Fg%2F11gvrkrnxr?entry=tts&g_ep=EgoyMDI0MDYwNS4wKgBIAVAD ">168A Minh Phụng, phường 6 , quận 6</a></span><span>(+84913237209) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận 7:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/300,+2%2F3A+Nguy%E1%BB%85n+V%C4%83n+Linh,+B%C3%ACnh+Thu%E1%BA%ADn,+Qu%E1%BA%ADn+7,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.739509,106.7184113,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f80d6364215:0xd7f1f3a4395a0304!8m2!3d10.739509!4d106.7206?hl=vi-VN&shorturl=1">300/23 Nguyễn Văn Linh, Phường Bình Thuận, Quận 7</a></span><span>(+84911825732) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/60,+18+%C4%90%C6%B0%E1%BB%9Dng+L%C3%A2m+V%C4%83n+B%E1%BB%81n,+T%C3%A2n+Ki%E1%BB%83ng,+Qu%E1%BA%ADn+7,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7510485,106.7135953,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f7bc39b87b1:0xb5386923dcfceb68!8m2!3d10.7510485!4d106.715784?hl=vi-VN&shorturl=1">60/18 Lâm Văn Bền, Phường Tân Kiểng, Quận 7</a></span><span>(+84911842765) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/72+%C4%90%C6%B0%E1%BB%9Dng+s%E1%BB%91+17,+T%C3%A2n+Thu%E1%BA%ADn+T%C3%A2y,+Qu%E1%BA%ADn+7,+H%E1%BB%93+Ch%C3%AD+Minh/%4010.7511236,106.7195418,897m/data=!3m2!1e3!4b1!4m6!3m5!1s0x31752f7c39aff1df:0x94c8ecbb11848d0b!8m2!3d10.7511236!4d106.7195418!16s%2Fg%2F11gfj73536?entry=ttu&g_ep=EgoyMDI0MTAxNS4wIKXMDSoASAFQAw%3D%3D">72 đường số 17, Khu phố 4, Phường Tân Nhuận Tây, Quận 7</a></span><span>(+84911842763) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/35,+21+B%E1%BA%BF+V%C4%83n+C%E1%BA%A5m,+T%C3%A2n+Ki%E1%BB%83ng,+Qu%E1%BA%ADn+7,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7506701,106.7075449,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f773130039f:0x52265362804423f5!8m2!3d10.7506648!4d106.7097336?hl=vi-VN&shorturl=1">35/21 Bế Văn Cấm, P.Tân Kiêng,Q.7,TP.HCM</a></span><span>(+84911842773) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/10%C2%B045'07.5%22N+106%C2%B043'10.8%22E/%4010.7520953,106.7190243,19z/data=!3m1!4b1!4m4!3m3!8m2!3d10.752094!4d106.719668?entry=tts&shorturl=1">50 Tân Mỹ,P.Tân Nhuận Tây, Q.7</a></span><span>(+84911842704) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận 8:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/59+B%C3%B9i+%C4%90i%E1%BB%81n,+Ph%C6%B0%E1%BB%9Dng+4,+Qu%E1%BA%ADn+8,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.742366,106.6707353,17z/data=!3m1!4b1!4m5!3m4!1s0x31752e5464b00b37:0x9470127a4b24fa10!8m2!3d10.742366!4d106.672924?hl=vi-VN&shorturl=1">59 Bùi Điền, Phường 4, Quận 8</a></span><span>(+84911842766) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/157%2F46+D%C6%B0%C6%A1ng+B%C3%A1+Tr%E1%BA%A1c,+Ph%C6%B0%E1%BB%9Dng+1,+Qu%E1%BA%ADn+8,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7475333,106.687705,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f0838adeaaf:0x987729789d5528ef!8m2!3d10.747528!4d106.6898937?hl=vi-VN&shorturl=1">157/46 Dương Bá Trạc, P.1,Q.8, TP.HCM</a></span><span>(+84911901151) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận 10:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/H%E1%BA%BBm+s%E1%BB%91+3%2F38+Th%C3%A0nh+Th%C3%A1i,+ph%C6%B0%E1%BB%9Dng+14,+Qu%E1%BA%ADn+10,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.768479,106.6627385,18z/data=!3m1!4b1!4m5!3m4!1s0x31752ee80f39466d:0x73efa448c89a419f!8m2!3d10.768479!4d106.6638328?hl=vi-VN&shorturl=1">3/38 Thành Thái , Phường 14 , Quận 10</a></span><span>(+84911842856) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/284%2F73%2F9+L%C3%BD+Th%C6%B0%E1%BB%9Dng+Ki%E1%BB%87t,+Ph%C6%B0%E1%BB%9Dng+14,+Qu%E1%BA%ADn+10,+H%E1%BB%93+Ch%C3%AD+Minh+700000/%4010.768595,106.6608038,897m/data=!3m2!1e3!4b1!4m6!3m5!1s0x31752fb25f820b3f:0x598275179b85bb8d!8m2!3d10.768595!4d106.6608038!16s%2Fg%2F11vc2d0zf3?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MTAxNS4wIKXMDSoASAFQAw%3D%3D">284/9 Lý Thường Kiệt, Phường 14, Quận 10</a></span><span>(+84911863610) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a>339/6 Tô Hiến Thành ,Phường 12 , Quận 10</a></span><span>(+84911843210) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận 11:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/99+L%E1%BA%A1c+Long+Qu%C3%A2n,+Ph%C6%B0%E1%BB%9Dng+3,+Qu%E1%BA%ADn+11,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.759553,106.6394673,17z/data=!3m1!4b1!4m5!3m4!1s0x31752e8ffd2cd4f7:0x5fc9ae101c3449ed!8m2!3d10.759553!4d106.641656?hl=vi-VN&shorturl=1">99 Lạc Long Quân , Phường 3 , Quận 11</a></span><span>(+84911825729) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/PVCOMBANK/%4010.7710801,106.6433,17z/data=!3m1!4b1!4m5!3m4!1s0x31752ebded7b7307:0x8cff64295dc6fe67!8m2!3d10.7710801!4d106.6454887?hl=vi-VN&shorturl=1">363 Lạc Long Quân(cong sau), Phường 5, Quận 11</a></span><span>(+84911842760) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/47%2F5+Tr%E1%BB%8Bnh+%C4%90%C3%ACnh+Tr%E1%BB%8Dng,+Ph%C6%B0%E1%BB%9Dng+5,+Qu%E1%BA%ADn+11,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.774171,106.6420333,17z/data=!3m1!4b1!4m5!3m4!1s0x31752ebc595437cd:0x3da11e71630de5e!8m2!3d10.774171!4d106.644222?hl=vi-VN&shorturl=1">Số 7 Lô 5A Cư Xá 47 Trịnh Đình Trọng, Phường 5 , Quận 11</a></span><span>(+84911842804) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/173+Ph%C3%B3+C%C6%A1+%C4%90i%E1%BB%81u,+Ph%C6%B0%E1%BB%9Dng+6,+Qu%E1%BA%ADn+11,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.761126,106.6547263,17z/data=!3m1!4b1!4m5!3m4!1s0x31752eedb6f172cf:0xf7c0d6841319f35f!8m2!3d10.761126!4d106.656915?hl=vi-VN&shorturl=1">173 Phó Cơ Điều, P.6 , Q.11</a></span><span>(+84911825742) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/75C+L%E1%BA%A1c+Long+Qu%C3%A2n,+Ph%C6%B0%E1%BB%9Dng+5,+Qu%E1%BA%ADn+11,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7694158,106.6441767,18.5z/data=!4m5!3m4!1s0x31752e963baab0bb:0xeba86cb2ce7cfbcb!8m2!3d10.769557!4d106.644791">75 Cư Xá Lạc Long Quân, phường 5 , Quận 11</a></span><span>(+84911856732) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận 12:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/80+Th%E1%BA%A1nh+Xu%C3%A2n+13,+Th%E1%BA%A1nh+Xu%C3%A2n,+Qu%E1%BA%ADn+12,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.863013,106.663914,17z/data=!3m1!4b1!4m5!3m4!1s0x317529cf3f0fd6ab:0x5eb34cb7401034ef!8m2!3d10.863013!4d106.6661027?hl=vi-VN&shorturl=1">80 đường Thạnh Xuân 13,phường Thạnh Xuân , Quận 12</a></span><span>(+84911847843) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/L%C3%AA+Th%E1%BB%8B+Ri%C3%AAng,+Th%E1%BB%9Bi+An,+Qu%E1%BA%ADn+12,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.8762828,106.6526133,17z/data=!3m1!4b1!4m5!3m4!1s0x317529ddf5219545:0x8582b7850ec0e767!8m2!3d10.8762828!4d106.654802?hl=vi-VN&shorturl=1">A20 Lê Thị Riêng, Phường Thới An , Quận 12</a></span><span>(+84911821782) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/search/D80+KDC+TH%E1%BB%9AI+AN,+L%C3%8A+TH%E1%BB%8A+RI%C3%8ANG,+PH%C6%AF%E1%BB%9CNG+TH%E1%BB%9AI+AN,+QU%E1%BA%ACN+12/%4010.8654712,106.6556796,19.5z">D80 KDC Thới An, Lê Thị Riêng , Phường Thới An , Quận 12</a></span><span>(+84911825722) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/H%C6%B0ng+Ng%C3%A2n+garden/%4010.8588392,106.6303311,17.5z/data=!4m6!3m5!1s0x317529f549a14681:0xaf41e8db5f47a6b!8m2!3d10.858887!4d106.6303125!16s%2Fg%2F11dxnlmk72?entry=tts">A1.01 Hung Ngan Garden , 48A Duong Thi Muoi, Q.12</a></span><span>(+84911829034) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận Bình Thạnh:</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/79+Nguy%C3%AAn+H%E1%BB%93ng,+Ph%C6%B0%E1%BB%9Dng+11,+B%C3%ACnh+Th%E1%BA%A1nh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.8176132,106.691467,17z/data=!3m1!4b1!4m5!3m4!1s0x317528eea6860687:0x8d2d99d8e7a5e364!8m2!3d10.8176132!4d106.6936557?hl=vi-VN&shorturl=1">79 Nguyễn Hồng, Phường 11, Quận Bình Thạnh</a></span><span>(+84911845232) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/119+%C4%90%C6%B0%E1%BB%9Dng+Tr%E1%BA%A7n+V%C4%83n+K%E1%BB%B7,+Ph%C6%B0%E1%BB%9Dng+14,+B%C3%ACnh+Th%E1%BA%A1nh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.8043044,106.6936619,17z/data=!3m1!4b1!4m5!3m4!1s0x317528c6e86a9a89:0xb9f848c9ae843229!8m2!3d10.8043044!4d106.6958506?hl=vi-VN&shorturl=1">119 Tran Van Ky, Phuong 14, Quận Bình Thanh</a></span><span>(+84911823478) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/27%2F17+%C4%90i%E1%BB%87n+Bi%C3%AAn+Ph%E1%BB%A7,+Ph%C6%B0%E1%BB%9Dng+15,+B%C3%ACnh+Th%E1%BA%A1nh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.794599,106.6984533,17z/data=!3m1!4b1!4m5!3m4!1s0x317528b6080435cf:0xca4917498e22b1ec!8m2!3d10.794599!4d106.700642?hl=vi-VN&shorturl=1">27/17 Điện Biên Phủ, Phường 15, Quận Bình Thạnh</a></span><span>(+84911820119) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/125+He%CC%89m+47%2F52+B%C3%B9i+%C4%90%C3%ACnh+T%C3%BAy,+Ph%C6%B0%E1%BB%9Dng+24,+B%C3%ACnh+Th%E1%BA%A1nh,+H%E1%BB%93+Ch%C3%AD+Minh/%4010.8065477,106.7047165,896m/data=!3m2!1e3!4b1!4m6!3m5!1s0x317529b53d877efb:0x51971e25c28d0ee0!8m2!3d10.8065477!4d106.7047165!16s%2Fg%2F11w3nlplmd?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D">125/47 Bùi Đình Túy, Phường 24, Quận Bình Thạnh</a></span><span>(+84911867831) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/69,+31+%C4%90.+Nguy%E1%BB%85n+Gia+Tr%C3%AD,+Ph%C6%B0%E1%BB%9Dng+25,+B%C3%ACnh+Th%E1%BA%A1nh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.8022923,106.7134065,17z/data=!3m1!4b1!4m5!3m4!1s0x317528a44c3450b3:0x3ac3f58c0c6b96c3!8m2!3d10.8022923!4d106.7155952?hl=vi-VN&shorturl=1">69/31 Nguyễn Gia Trí, Phường 25 , Quận BìNH Thạnh</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/687b+X%C3%B4+Vi%E1%BA%BFt+Ngh%E1%BB%87+T%C4%A9nh,+Ph%C6%B0%E1%BB%9Dng+26,+B%C3%ACnh+Th%E1%BA%A1nh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.8122837,106.7128554,17z/data=!3m1!4b1!4m5!3m4!1s0x31752898fa307dc3:0x686bb6f8fd337134!8m2!3d10.8122837!4d106.7150441?hl=vi-VN&shorturl=1">678B Xô Viết Nghệ Tĩnh, Phường 26, Quận Bình Thạnh</a></span><span>(+84911845301) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/7%2F15+Tr%E1%BA%A7n+B%C3%ACnh+Tr%E1%BB%8Dng,+Ph%C6%B0%E1%BB%9Dng+5,+B%C3%ACnh+Th%E1%BA%A1nh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.810779,106.6871383,17z/data=!3m1!4b1!4m5!3m4!1s0x317528c2bcc32ba7:0xe166e96e38a8f12c!8m2!3d10.810779!4d106.689327?hl=vi-VN&shorturl=1">15B Trần Bình Trọng, Phường 5 , Quận Bình Thạnh</a></span><span>(+84911803792) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/14+Nguy%E1%BB%85n+C%E1%BB%ADu+V%C3%A2n,+Ph%C6%B0%E1%BB%9Dng+17,+B%C3%ACnh+Th%E1%BA%A1nh,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7956463,106.7055312,17z/data=!3m1!4b1!4m5!3m4!1s0x317528b112f77241:0xeb8d129787b5b387!8m2!3d10.7956463!4d106.7077199?hl=vi-VN&shorturl=1">14 Nguyen Cua Van, P.17,Q.Bình Thạnh,TP.HCM</a></span><span>(+84911825753) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/101+Hu%E1%BB%B3nh+M%E1%BA%ABn+%C4%90%E1%BA%A1t,+Ph%C6%B0%E1%BB%9Dng+19,+B%C3%ACnh+Th%E1%BA%A1nh,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.78943,106.7065203,17z/data=!3m1!4b1!4m5!3m4!1s0x317528b327f45239:0x6b074cc33a559ffb!8m2!3d10.78943!4d106.708709?hl=vi-VN&shorturl=1">101 Huynh Man Dat,P.19,Q.Bình Thạnh</a></span><span>(+84911826743) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận Tân Bình</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/WIN+COFFEE+-+B%C3%A0u+C%C3%A1t/%4010.7878922,106.639154,16z/data=!4m5!3m4!1s0x31752eb176c71d57:0x5f39f21d63d013c1!8m2!3d10.786487!4d106.6442905?hl=vi-VN&shorturl=1">17 Lô A Chung Cư Bàu Cát 2,Phường 10 , Q.Tân Bình</a></span><span>(+84911893472) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/37+Tr%E1%BA%A7n+Mai+Ninh,+Ph%C6%B0%E1%BB%9Dng+12,+T%C3%A2n+B%C3%ACnh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.793382,106.6457273,17z/data=!3m1!4b1!4m5!3m4!1s0x3175294b42003c11:0x4e099c797081a380!8m2!3d10.793382!4d106.647916?hl=vi-VN&shorturl=1">37 Trần Mai Ninh, Phường 12, Q.Tân Bình</a></span><span>(+84911824572) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/18+Nguy%E1%BB%85n+Thanh+Tuy%E1%BB%81n,+Ph%C6%B0%E1%BB%9Dng+2,+T%C3%A2n+B%C3%ACnh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.798281,106.6590033,17z/data=!3m1!4b1!4m5!3m4!1s0x317529310b80473f:0xd4b2b3c25f65298e!8m2!3d10.798281!4d106.661192?hl=vi-VN&shorturl=1">18 Nguyễn Thanh Tuyền, Phường 2 , Q.Tân Bình</a></span><span>(+84911829032) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/198+%C4%90%E1%BA%A5t+Th%C3%A1nh,+Ph%C6%B0%E1%BB%9Dng+6,+T%C3%A2n+B%C3%ACnh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7829231,106.6581175,17z/data=!3m1!4b1!4m5!3m4!1s0x31752ecf1ee7ef6d:0x5007697ec3c0e194!8m2!3d10.7829231!4d106.6603062?hl=vi-VN&shorturl=1">198 Đất Thánh, Phường 6 , Q.Tân Bình</a></span><span>(+84911820231) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/10%C2%B047'16.0%22N+106%C2%B039'03.2%22E/%4010.7877903,106.6502543,19z/data=!3m1!4b1!4m4!3m3!8m2!3d10.787789!4d106.650898?entry=tts&shorturl=1">2 Bảy Hiền , P.11, Q.Tân Bình</a></span><span>(+84911825755) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/80%2F7+Ba+V%C3%A2n,+Ph%C6%B0%E1%BB%9Dng+13,+T%C3%A2n+B%C3%ACnh,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.796381,106.6387138,19z/data=!3m1!4b1!4m5!3m4!1s0x3175295241c4e809:0x4527ffd76c9846ae!8m2!3d10.7963797!4d106.639261?hl=vi&shorturl=1">80/7 Ba Van, P.14, Q.Tân Bình</a></span><span>(+84911825802) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận Tân Phú</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/7+%C4%90%E1%BB%97+Nhu%E1%BA%ADn,+S%C6%A1n+K%C3%BD,+T%C3%A2n+Ph%C3%BA,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.8055216,106.6237088,17z/data=!3m1!4b1!4m5!3m4!1s0x31752be31f5dc84b:0x21cd007f80cdb3c8!8m2!3d10.8055216!4d106.6258975?hl=vi-VN&shorturl=1">7 Đỗ Nhuận, Phường Sơn Kỳ, Quận Tân Phú</a></span><span>(+84911832456) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/2+%C4%90%C6%B0%E1%BB%9Dng+C2,+T%C3%A2y+Th%E1%BA%A1nh,+T%C3%A2n+Ph%C3%BA,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.816196,106.6207714,17z/data=!3m1!4b1!4m5!3m4!1s0x31752bddfac26c41:0x7c13415105990a54!8m2!3d10.8161907!4d106.6229601?hl=vi-VN&shorturl=1">2D Dương C2, P.Tây Thạnh ,Q.Tân Phú</a></span><span>(+84911856721) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/73+T%C3%B4+Hi%E1%BB%87u,+Hi%E1%BB%87p+T%C3%A2n,+T%C3%A2n+Ph%C3%BA,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7700139,106.6264855,243m/data=!3m1!1e3!4m6!3m5!1s0x31752c20374be207:0xa433e81ac9841a3b!8m2!3d10.7703536!4d106.6268466!16s%2Fg%2F11snq21y8k?entry=tts">73 Tô Hiệu , Hiệu Tân , Tân Phú</a></span><span>(+84911889321) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Quận Bình Thạnh</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/Chung+C%C6%B0+TECCO+TOWN+Qu%E1%BA%ADn+B%C3%ACnh+T%C3%A2n/%4010.7541925,106.5839554,18.25z/data=!4m6!3m5!1s0x31752dc385dddecb:0xa0804971aae76623!8m2!3d10.7539857!4d106.5840017!16s%2Fg%2F11f5dtgjsh?entry=tts">D1 Tecco Town , 4449 Nguyen Cuu Phu, Binh Tan</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">TP.Thủ Đức</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/97+Ph%C3%BA+Ch%C3%A2u,+An+B%C3%ACnh,+Th%E1%BB%A7+%C4%90%E1%BB%A9c,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.8705349,106.7444108,17z/data=!3m1!4b1!4m5!3m4!1s0x317527f4d1731ee7:0xccb281dcf61008a0!8m2!3d10.8705349!4d106.7465995?hl=vi-VN&shorturl=1">97 Phú Châu, Phường Tam Bình, Q.Thủ Đức</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/53+V%C3%B5+V%C4%83n+Ng%C3%A2n,+Linh+Chi%E1%BB%83u,+Th%E1%BB%A7+%C4%90%E1%BB%A9c,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.8513962,106.7575904,19z/data=!4m5!3m4!1s0x317527bd532d45d9:0x6b46595d312dcffe!8m2!3d10.8511499!4d106.7579337">53 Võ Văn Ngân, Phường Linh Chiêu, Q.Thủ Đức</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/Chung+c%C6%B0+Jamila+Khang+%C4%90i%E1%BB%81n/%4010.7952934,106.7845026,896m/data=!3m2!1e3!4b1!4m6!3m5!1s0x3175271c62f1aafb:0xffd953b761c4e873!8m2!3d10.7952934!4d106.7845026!16s%2Fg%2F11hdvl24rf?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D">D1.14 - Chung cư Jamila,P.Phu Huu, TP.Thủ Đức</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/1245+%C4%90.+Nguy%E1%BB%85n+Duy+Trinh,+Long+Tr%C6%B0%E1%BB%9Dng,+Qu%E1%BA%ADn+9,+H%E1%BB%93+Ch%C3%AD+Minh/%4010.8037694,106.8143757,77m/data=!3m1!1e3!4m6!3m5!1s0x317526b59ba38169:0xc7986167c6c9e5ba!8m2!3d10.8037276!4d106.8144205!16s%2Fg%2F11g9vqsgc6?entry=tts&g_ep=EgoyMDI0MDcyNC4wKgBIAVAD">1245 Nguyễn Duy Trinh , Long Trường, TP.Thủ Đức</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/36+%C4%90.+S%E1%BB%91+63,+Kp3,+Qu%E1%BA%ADn+2,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.7909555,106.7763868,21z/data=!4m6!3m5!1s0x31752686a82cf7c1:0x4df2ff227ad14921!8m2!3d10.7908923!4d106.7765097!16s%2Fg%2F11j0ss1j6_?entry=tts&g_ep=EgoyMDI0MDcwMS4wKgBIAVAD">36 đường 63 , Bình Trưng Đông , TP.Thủ Đức</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/10%C2%B049'13.5%22N+106%C2%B046'43.2%22E/%4010.820406,106.7780329,19z/data=!3m1!4b1!4m4!3m3!8m2!3d10.820406!4d106.778678?coh=219816&entry=tts&g_ep=EgoyMDI0MDgwNS4wKgBIAVAD">105 Dương Đình Hội , P.Phước Long B, TP.Thủ Đức</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/115+%C4%90.+B%C3%ACnh+Chi%E1%BB%83u,+B%C3%ACnh+Chi%E1%BB%83u,+Th%E1%BB%A7+%C4%90%E1%BB%A9c,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4010.8804613,106.7336892,19.6z/data=!4m6!3m5!1s0x3174d9b5508d25c5:0x828b1e7b8811af79!8m2!3d10.880452!4d106.7342042!16s%2Fg%2F11k4xq948j?entry=tts">115 Bình Chiễu , Phường Bình Chiễu , TP.Thủ Đức</a></span><span>(+84911825733) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Huyện Củ Chi</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/1132+TL15,+An+Ph%C3%BA,+C%E1%BB%A7+Chi,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/%4011.1032784,106.5068292,17z/data=!3m1!4b1!4m5!3m4!1s0x310b32e0500df309:0xa5419e70461423a0!8m2!3d11.1032784!4d106.5090179?hl=vi-VN&shorturl=1">1132 Tỉnh Lộ 15, Tổ 7 , Ấp Thạnh An , Xã Trung An , Huyện Củ Chi</a></span><span>(+84911874932) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <b class="ten">Bình Dương</b>
                <ul class="diachi">
                    <li><span><a href="https://www.google.com/maps/place/K%C3%BD+t%C3%BAc+x%C3%A1+Khu+B+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Qu%E1%BB%91c+gia+TP.+HCM/%4010.8830014,106.7795138,17z/data=!3m1!4b1!4m5!3m4!1s0x3174d885564f40f1:0x69ba5a55a3ec0e6f!8m2!3d10.8830014!4d106.7817025?hl=vi-VN&shorturl=1">Ký túc xá ĐHQG , Tòa nhà A1, KTX Khu B , Phố Tân Hòa , Thị xã Dĩ An Bình Dương</a></span><span>(+84911887432) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/Family+Mart+D3+-+KTX+Khu+B/%4010.8846074,106.7812902,173m/data=!3m1!1e3!4m6!3m5!1s0x3174d92fa038660f:0xb6eed49d1687ff62!8m2!3d10.8846621!4d106.7812565!16s%2Fg%2F11s55_y92c?entry=tts">KTX ĐHQG , Tòa nhà D3 , KTX Khu B , Phố Tân Hòa , P. Đông Hòa , Thị xã Dĩ An Bình Dương</a></span><span>(+84911890643) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                    <li><span><a href="https://www.google.com/maps/place/Bcons+Su%E1%BB%91i+Ti%C3%AAn/%4010.8759322,106.8092319,122m/data=!3m1!1e3!4m6!3m5!1s0x31752ffca97c26c9:0xa80eae63ed49c38f!8m2!3d10.8759265!4d106.8093395!16s%2Fg%2F11n0dzm93g?entry=tts">SH04 Bcons Suoi Tien , 45 Tan Lap, Di An , Binh Duong</a></span><span>(+8491189432) - Mở cửa từ lúc 06:30 đến 22:00</span></li>
                </ul>
                <br>
            </div>
            <hr style="color:LightSlateGray">
            <br>
            <span style="font-size:19px"><b>ĐỊA CHỈ LIÊN HỆ : </b></span><span> CÔNG TY TNHH MTV BÁCH HÓA SÀI GÒN CO.OP</span>
            <p class="ten" style="color:#666666">Giấy chứng nhận Đăng Ký Kinh Doand số: 0314057952</p>
            <p class="ten">Mã số thuê :0314057952</p>
            <p class="ten" style="color:#666666">Do Sở Kế Hoạch và Đầu tư TP.HCM cấp , Lần thứ 1 ngày : 11/10/2016 - Cấp thay đổi lần thứ 2 : 26/06/2019.</p>
            <br>
            <hr style="color:LightSlateGray">
            <br>
            <span><b>Địa Chỉ : </b></span><span> 199-205 Nguyễn Thái Học, Phường Phạm Ngũ Lão, Quận 1, Tp. Hồ Chí Minh.</span>
            <br>
            <span><b>Địa chỉ văn phòng : </b></span><span> 131 Điện Biên Phủ, Phường 15, Quận Bình Thạnh, Tp.HCM</span>
            <br>
            <span><b>Điện Thoại : </b></span><span> 028.38.360.143</span>
            <br>
            <span><b>Fax : </b></span><span> 08 38 370 560</span>
            <br>
            <span><b>Hotline : </b></span><span> 0911.825.753</span>
            <br>
            <span><b>Email : </b></span><span> info@coopsmile.vn</span>
            <br>
            <span><b>Facebook : </b></span><span> @@cuahangcoopsmile</span>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
