<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/trangweb_ban_kem.css" rel="stylesheet" />
</head>
<body style="background-color:#FAFAFA">
    <div class="tongtrang">
        <span style="color:#247BCA">Trang chủ </span><span>  → Thực phẩm trữ đông  </span>
        <br>
        <div class="khungthuonghieu">
            <p style="font-size:20px;color:#666666;">Thương hiệu:</p>
            <p><input type="checkbox">Khác</p>
            <p><input type="checkbox">CtyTNHH CJFoodsVN-CN HPhuoc(CT) - Lo EA2-7 KCN HiepPhuoc,Xa HiepPhuoc, H.Nha Be, HCM</p>
            <p><input type="checkbox">CTy CP VN Ky Nghe Suc San - 420 No Trang Long, P.13 Q.BT, HCM</p>
            <p><input type="checkbox">CTY CP Sai Gon Food - C24-24B/II,C25/II Duong2F,KCNVinhLoc, xa Vinh Loc A, Bình Chánh, HCM</p>
            <p><input type="checkbox">TY CP Sai Gon Food-NR - Lo C24-24B/IIDuong2F,KCN VinhLoc BC, HCM</p>
            <p><input type="checkbox">Cty TNHH CPV Food-TPCN - KCN Becamex B.Phuoc,Xa Minh Thanh,, H.Chon Thanh,Binh Phuoc</p>
            <p><input type="checkbox">Cty TNHH SXTM DV TP Ngon Ngon - 58/2G Ap My Hoa 3,xa Tan Xuan,H.Hoc Mon, Tp.HCM</p>
            <p><input type="checkbox">Cty Co Phan Dai Thuan Phan Phoi - 59-61 Nguyen Truong To,P.13,Quan 4,, Ho Chi Minh</p>
            <p><input type="checkbox">CTY TNHH TM Toan Gia Hiep Phuoc - 618 Nguyen Thi Tu,P.Phu Huu,TP.TDuc, Ho Chi Minh</p>
            <p><input type="checkbox">Cty TNHH SX-TM DV Hien Thao - 56A Duong so 39,KP4,P.Tan Quy,Q7, Tp.HCM</p>

            <br>
            <p style="font-size:20px;color:#666666;">Loại sản phẩm:</p>
            <p><input type="checkbox">THỰC PHẨM TRỮ ĐÔNG</p>
            <p><input type="checkbox">Thực Phẩm Trữ Đông</p>

            <br>
            <p style="font-size:20px;color:#666666;">Giá:</p>
            <p><input type="checkbox">< 30,000VND</p>
            <p><input type="checkbox">30,000VND - 50,000VND</p>
            <p><input type="checkbox">50,000VND - 100,000VND</p>
            <p><input type="checkbox">100,000VND - 200,000VND</p>
            <p><input type="checkbox">> 200,000VND</p>

        </div>

        <div class="trangsanpham">
            <div class="webkem">
                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemocque.png"  class="hinhanhsanpham">
                    </div>
                    <br>
                    <div align="center" style="font-size:17px"><p>Kem ốc quế Nestle Oreo 70g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>25,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemTH.png"  class="hinhanhsanpham">
                    </div>
                    <br>
                    <div align="center" style="font-size:17px"><p>Kem TH Socola 52g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>18,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemduacameramen.png"  class="hinhanhsanpham">
                    </div>
                    <br><br>
                    <div align="center" style="font-size:17px"><p>Kem DELIGHT dừa Cameramen 80g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>11,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kembanhquy.png"  class="hinhanhsanpham">

                    </div>
                    <br><br>
                    <div align="center" style="font-size:17px"><p>Kem bánh quy Nestle Oreo 60g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>27,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

            </div>


            <hr>
            <div class="webkem">
                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemmagnum.png"  class="hinhanhsanpham">
                    </div>
                    <br><br><br>
                    <div align="center" style="font-size:17px"><p>Kem Magnum Almond 80g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>30,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemhopsocola.png"  class="hinhanhsanpham">
                    </div>
                    <br>
                    <div align="center" style="font-size:17px"><p>Kem Wall's socola 390g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>75,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemhopdau.png"  class="hinhanhsanpham">
                    </div>

                    <div align="center" style="font-size:17px"><p>Kem Wall's 3in1 Neo N 430g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>75,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>


                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemmvitamin.png"  class="hinhanhsanpham">
                    </div>
                    <br><br>
                    <div align="center" style="font-size:17px"><p>Kem DELIGHT hạnh nhân vitamin 80g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>11,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>
            </div>
            <hr>
            <div class="webkem">
                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemsaurieng.png"  class="hinhanhsanpham">
                    </div>
                    <div align="center" style="font-size:17px"><p>Kem delight sầu riêng 58g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>19,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png"  class="hinhanhsanpham">
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemduahau.png"  class="hinhanhsanpham">
                    </div>
                    <br><br>
                    <div align="center" style="font-size:17px"><p>Kem merino Kool dưa hấu 62g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>9,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemdualuoi.png"  class="hinhanhsanpham">
                    </div>
                    <br><br><br>
                    <div align="center" style="font-size:17px"><p>Kem Melona dưa lưới 80g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>26,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaikem">
                    <div>
                        <img src="~/Content/img/img_kem/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_kem/kemca.png"  class="hinhanhsanpham">
                    </div>
                    <br>
                    <div align="center" style="font-size:17px"><p>Kem Sanhwich Greentea DT cá 150g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>32,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>
            </div>
            <hr>
            <div class="chuyentrang" align="center">
                <span>← Trang trước  1 </span><span> 2  Trang sau  →</span>
            </div>
        </div>

    </div>
    <div class="khungdieukhoang">
        <div class="khoi1">
            <div>
                <img src="tenhang2.png">
            </div>
            <div>
                Cửa hàng - bách hóa hiện đại Co.opSmile
                là thành viên của nhà
                bán lẻ hàng đầu
                Việt Nam Saigon Co.op
                <br>
                <br>
                Đ/c văn phòng:
                131 Điện Biên Phủ, Phường 15,
                Quận Bình Thạnh, Tp. HCM
                info@coopsmile.vn
                0911.825753
            </div>
        </div>
        <div class="khoi2">
            <div>
                <p><b>Hỗ trợ khách hàng</b></p>
            </div>
            <div>

                <li>Điều khoản dịch vụ</li>
                <li>Chính sách bảo mật</li>
                <li>Chính sách đặt hàng</li>
                <li>Chính sách giao nhận</li>
                <li>Chính sách đổi trả hàng</li>
                <li>Xuất hóa đơn GTGT</li>

            </div>
        </div>
        <div class="khoi3">
            <div>
                <p><b>Thông tin</b></p>
            </div>
            <div>
                <li>Giới thiệu về Co.opSmile</li>
                <li>Câu chuyện thương hiệu</li>
                <li>Tuyển dụng</li>
                <li>Hệ thống cửa hàng</li>
                <li>Thông tin hỗ trợ khách hàng</li>
            </div>
        </div>
        <div class="khoi4">
            <div>
                <p><b>Thông tin hữu ích</b></p>
            </div>
            <div>
                <li>Quyền lợi thẻ thành viên</li>
                <li>Khuyến mãi nổi bật</li>
                <li>Thông tin - sự kiện</li>
            </div>
        </div>
        <div class="khoi5">
            <div>
                <p><b>Chứng nhận</b></p>
            </div>
            <div>
                <img src="thongbao.png">
            </div>
            <div>

            </div>
        </div>
    </div>



    <div>
        @RenderBody()
    </div>
</body>
</html>
