<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/sanphamanlien.css" rel="stylesheet" />
</head>
<body style="background-color:#FAFAFA">
    <div class="tongtrang">
        <span style="color:#247BCA">Trang chủ </span><span>  → Thực phẩm trữ đông  </span>
        <br>
        <div class="khungthuonghieu">
            <p style="font-size:20px;color:#666666;">Thương hiệu:</p>
            <p><input type="checkbox">Khác</p>
            <p><input type="checkbox">CtyTNHH CJFoodsVN-CN HPhuoc(CT) - Lo EA2-7 KCN HiepPhuoc,Xa HiepPhuoc, H.Nha Be, HCM</p>
            <p><input type="checkbox">CTy CP VN Ky Nghe Suc San - 420 No Trang Long, P.13 Q.BT, HCM</p>
            <p><input type="checkbox">CTY CP Sai Gon Food - C24-24B/II,C25/II Duong2F,KCNVinhLoc, xa Vinh Loc A, Bình Chánh, HCM</p>
            <p><input type="checkbox">TY CP Sai Gon Food-NR - Lo C24-24B/IIDuong2F,KCN VinhLoc BC, HCM</p>
            <p><input type="checkbox">Cty TNHH CPV Food-TPCN - KCN Becamex B.Phuoc,Xa Minh Thanh,, H.Chon Thanh,Binh Phuoc</p>
            <p><input type="checkbox">Cty TNHH SXTM DV TP Ngon Ngon - 58/2G Ap My Hoa 3,xa Tan Xuan,H.Hoc Mon, Tp.HCM</p>
            <p><input type="checkbox">Cty Co Phan Dai Thuan Phan Phoi - 59-61 Nguyen Truong To,P.13,Quan 4,, Ho Chi Minh</p>
            <p><input type="checkbox">CTY TNHH TM Toan Gia Hiep Phuoc - 618 Nguyen Thi Tu,P.Phu Huu,TP.TDuc, Ho Chi Minh</p>
            <p><input type="checkbox">Cty TNHH SX-TM DV Hien Thao - 56A Duong so 39,KP4,P.Tan Quy,Q7, Tp.HCM</p>

            <br>
            <p style="font-size:20px;color:#666666;">Loại sản phẩm:</p>
            <p><input type="checkbox">THỰC PHẨM TRỮ ĐÔNG</p>
            <p><input type="checkbox">Thực Phẩm Trữ Đông</p>

            <br>
            <p style="font-size:20px;color:#666666;">Giá:</p>
            <p><input type="checkbox">< 30,000VND</p>
            <p><input type="checkbox">30,000VND - 50,000VND</p>
            <p><input type="checkbox">50,000VND - 100,000VND</p>
            <p><input type="checkbox">100,000VND - 200,000VND</p>
            <p><input type="checkbox">> 200,000VND</p>

        </div>
        <div class="trangsanpham">

            <div class="webanlien">
                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/banh_bong_lan_bonho.png" class="hinhanhsanpham">
                    </div>
                    <br>
                    <div align="center" style="font-size:17px"><p>Bánh bông lan tuoi bơ nho 38g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>7,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaianlien">
                    <div><img src="~/Content/img/img_sanphamanlien/tenhang.png" /></div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/Banh_GOCHIZ.png" class="hinhanhsanpham">
                    </div>
                    <br><br>
                    <div align="center" style="font-size:17px"><p>Bánh GOCHIZ (cake bơ phomai) 140g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>32,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/banh_karo_trungtuoichabong.png" class="hinhanhsanpham">
                    </div>
                    <br><br>
                    <div align="center" style="font-size:17px"><p>Bánh Karo trứng tươi chà bông túi 6x26g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>40,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/banh_karo_trungtuoichabongdua.png" class="hinhanhsanpham">
                    </div>
                    <br>
                    <div align="center" style="font-size:17px"><p>Bánh karo trứng tươi chà bông dừa 26g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>40,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

            </div>


            <hr>
            <div class="webanlien">
                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/banh_karo_trungtuoichabongphomai.png" class="hinhanhsanpham">
                    </div>
                    <br><br>
                    <div align="center" style="font-size:17px"><p>Bánh Karo trứng tươi chà bông phô mai hoàng kim</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>40,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/banh_mi_otto_nhan_bosua.png" class="hinhanhsanpham">
                    </div>
                    <div align="center" style="font-size:17px"><p>Bánh mì tươi nhân bơ sữa 90g</p></div>

                    <div align="center" style="font-size:15px;color:#FF5100"><p>11,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/banh_mi_otto_nhan_socola.png" class="hinhanhsanpham">
                    </div>
                    <br>
                    <div align="center" style="font-size:17px"><p>Bánh mì tươi nhân socola 90g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>11,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>


                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/banh_mi_tuoi_6_mui.png" class="hinhanhsanpham">
                    </div>

                    <div align="center" style="font-size:17px"><p>Bánh mì tươi 6 múi nhân chà bông 80g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>13,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>
            </div>
            <hr>
            <div class="webanlien">
                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/banh_sandwich_otto.png" class="hinhanhsanpham">
                    </div>
                    <br>
                    <div align="center" style="font-size:17px"><p>Sandwich Otto tươi lát 220g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>15,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/banh_sandwich_otto_chabong.png" class="hinhanhsanpham">
                    </div>

                    <div align="center" style="font-size:17px"><p>Sandwich Otto chà bông xốt Mayo cay 76g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>11,000VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div><img src="~/Content/img/img_sanphamanlien/Croissant_nhankem.png" class="hinhanhsanpham"></div>
                    <br><br><br>
                    <div align="center" style="font-size:17px"><p>Croissant nhân kem vani 47g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>10,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>

                <div class="loaianlien">
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/tenhang.png" />
                    </div>
                    <div>
                        <img src="~/Content/img/img_sanphamanlien/Croissant_nhansocola.png" class="hinhanhsanpham">
                    </div>
                    <br>
                    <div align="center" style="font-size:17px"><p>Croissant nhân kem Socola 47g</p></div>
                    <div align="center" style="font-size:15px;color:#FF5100"><p>10,500VND</p></div>
                    <div align="center">
                        <input type="number" class="quantity-input" min="1" value="1">
                    </div>
                    <div align="center">
                        <input type="submit" value="CHỌN MUA" class="chonmua" style="border-radius: 20px;">
                    </div>
                </div>
            </div>
            <hr>
            <div class="chuyentrang" align="center">
                <span>← Trang trước  1 </span><span> 2  Trang sau  →</span>
            </div>
        </div>
    </div>
    <div class="khungdieukhoang">
        <div class="khoi1">
            <div>
                <img src="~/Content/img/img_sanphamanlien/tenhang2.png" />
            </div>
            <div>
                Cửa hàng - bách hóa hiện đại Co.opSmile
                là thành viên của nhà
                bán lẻ hàng đầu
                Việt Nam Saigon Co.op
                <br>
                <br>
                Đ/c văn phòng:
                131 Điện Biên Phủ, Phường 15,
                Quận Bình Thạnh, Tp. HCM
                info@coopsmile.vn
                0911.825753
            </div>
        </div>
        <div class="khoi2">
            <div>
                <p><b>Hỗ trợ khách hàng</b></p>
            </div>
            <div>

                <li>Điều khoản dịch vụ</li>
                <li>Chính sách bảo mật</li>
                <li>Chính sách đặt hàng</li>
                <li>Chính sách giao nhận</li>
                <li>Chính sách đổi trả hàng</li>
                <li>Xuất hóa đơn GTGT</li>

            </div>
        </div>
        <div class="khoi3">
            <div>
                <p><b>Thông tin</b></p>
            </div>
            <div>
                <li>Giới thiệu về Co.opSmile</li>
                <li>Câu chuyện thương hiệu</li>
                <li>Tuyển dụng</li>
                <li>Hệ thống cửa hàng</li>
                <li>Thông tin hỗ trợ khách hàng</li>
            </div>
        </div>
        <div class="khoi4">
            <div>
                <p><b>Thông tin hữu ích</b></p>
            </div>
            <div>
                <li>Quyền lợi thẻ thành viên</li>
                <li>Khuyến mãi nổi bật</li>
                <li>Thông tin - sự kiện</li>
            </div>
        </div>
        <div class="khoi5">
            <div>
                <p><b>Chứng nhận</b></p>
            </div>
            <div>
                <img src="~/Content/img/img_sanphamanlien/thongbao.png" />
            </div>
            <div>

            </div>
        </div>
    </div>


    <div>
        @RenderBody()
    </div>
</body>
</html>
